# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# k6 results / temp
results/
*.csv
*.json
*.xml

# Logs
logs/
*.log

# Editor/IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# Python
__pycache__/
*.py[cod]

# Secrets and env
.env
.env.local
.env.*.local

# Misc
coverage/
.cache/
